<div id="part">
  <%= form_for @comment, remote: true, method: "post", url: {action: "create"} , html: {class: "form-horizontal newalbum col-sm-offset-2"} do |f| %>
    <div class="field form-group">
      <%= f.label :comment, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_area :comment, class: 'form-control', required: true, col: "10", row: "5" %>
      </div>
    </div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />          
    <div class="form-group action">        
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "submit", class: "btn log btn-default", id: "data_submit" %>
      </div>
    </div>
  <% end %>
</div>