<div class="col-sm-10 col-sm-offset-2"> 
  <div class="col-sm-4 user_profile" id="me">
    <%= image_tag @user.profile_pic_url(), class: 'pic' %>
    <% if current_user.id == @user.id %>
      <%= link_to "", edit_user_registration_path(@user), class: 'glyphicon glyphicon-edit' %>
    <% end %>  
      <h3>Hello <b><%= @user.full_name %></b></h3><br>
      <p>Email :<b><%= @user.email%></b></p><br>
      <p>Contact nu: <b><%= @user.contact %></b></p> 
         
  </div>
  <div class="col-sm-4 all_albums"> 
    <h3>Your all albums is here</h3>
    <%= link_to "Click to see all albums", user_albums_path(@user.id), class: 'badge2' %><br>
    <% @user.albums.each do |album| %>
      <p><%= link_to album.title, user_album_path(@user.id, album.id) %><b><%= album.get_likes.size %></b></p>
    <% end %> 
  </div>
  <div class="col-sm-2 all_users">
    <h3> All Users</h3>
    <% @users.each do |user| %>  
      <p><%= link_to user.full_name, user_path(user.id) %></p>
    <% end %>
  </div>
</div>