<h2>Login Here</h2>     
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-horizontal formpop ">
    <div class="field form-group">
      <%= f.label :email, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.email_field :email, class: 'form-control e2', required: true %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :password, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.password_field :password, class: 'form-control p2', required: true %>
      </div>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-6">
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
        </div>
      </div>
    <% end -%>
    <div class="form-group action">        
      <div class="col-sm-offset-3 col-sm-6">
        <%= f.submit "Login", class:"btn log1 btn-success" %>
      </div>
      </div>
      <div class="form-group action">        
        <div class="col-sm-offset-2 col-sm-9">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>
      </div>
  </div>
<% end %>     