<div class="container">
  <div id ="flash"></div>
  <%= render 'albumpage' %>   
</div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-3 albums_count">
      <h4>Albums</h4>
      <%= link_to image_tag("album3.png", :id => "album_list_open") %>
      <b><p><%= @albums.count%></p></b>
      <ul id="album_list">
        <% @albums.each do |album| %>
         <p><%= link_to album.title, user_album_path(current_user.id, album.id) %>
           <b><%= album.get_likes.size %></b>
         </p>
        <% end %>
      </ul>
    </div> 
    <div class=" col-sm-3 images_count">
      <h4>Images</h4>
      <%= link_to image_tag("image1.png", :id =>"image_list_open") %>
      <b><p><%= @images.count %></p></b>
      <ul id="image_list">
        <% @images.each do |image| %>
         <p><%= link_to image.img_name, user_album_image_path(current_user.id,image.album_id, image.id ) %>
         <b><%= image.get_likes.size %></b>
         </p>
        <% end %>     
      </ul>
    </div> 
    <div class="col-sm-3 albums_count">
      <h4>Total liked by you</h4>
      <%= link_to image_tag("like.png", :id => "album_list_open") %>
      <b><p><%= current_user.votes.size %></p></b>
    </div>  
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notifications </h4>
      </div>
      <div class="modal-body"> 
        <% @comments.each do |comm| %>
          <% comment_author = comment_author_name(comm.user_id) %>
          <p> This comment is send by:
          <b><%= link_to comment_author.full_name, user_path(comm.user_id) %></b></p>
          <p><%=comm.comment %>
            <%= link_to "Accept", root_path(:comment_id =>comm.id, :value =>true) %> 
          </p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% if @comments.present? && session[:notify].nil? %>
  <script>
    $(window).load(function(){
      $('#myModal').modal('show');
    });
  </script>
  <% session[:notify] = 'notify' %>
<% end %>
<script>
$(document).ready(function(){
  $("#album_list").hide();
  $("#album_list_open").click(function(event){
    $("#album_list").toggle();
    event.preventDefault();
  });
});
$(document).ready(function(){
  $("#image_list").hide();
  $("#image_list_open").click(function(event){
    $("#image_list").toggle();
    event.preventDefault();
  });
});
</script>
