<div id="list">
<div id="flash"></div>
  <%= form_tag(user_albums_path(current_user.id), remote: true, :method => "get", id: "products_search") do %>
    <%= text_field_tag :search, params[:search], id: "text" %>
    <%= submit_tag "Search", :name => nil %>
  <%end%>
<ul id="picturelist1">
  <% @albums.each do |album|  %>
    <li class="image_view">
      <%= album.title %>
      <%= link_to new_album_comment_path(album.id), remote: true, :class=>"modal-open" do %>    
          <span class="glyphicon glyphicon-comment"></span>
        <% end %>      
      <% image = albumcoverpage(album) %>
      <%if album.cover_id.present? && image.present? %>
        <%= link_to(image_tag(image.photo_url()), user_album_path(current_user.id, album.id), remote: true ) %>     
      <% else %>
        <%= link_to(image_tag("1.jpeg"), user_album_path(current_user.id, album.id), remote: true ) %>
      <% end %>      
      <%= link_to user_album_path(current_user.id, album.id), remote: true do %>    
        <span class="glyphicon glyphicon-open"></span>
      <% end %>
      <%= link_to edit_user_album_path(current_user.id, album.id), remote: true do%>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
      <%= link_to user_album_path(current_user.id, album.id), remote: true, :method => :delete , data: { confirm: 'Are you sure?' } do%>
        <span class="glyphicon glyphicon-remove"></span>  
      <% end %>
    </li>
  <% end %>
</ul>
  </div>
<script>
  $("#products_search input").on('keyup',function() {
     var s = $(this).val();
     if(s.length>2)
     {
      $("#products_search").submit();
     }
     else{
      $("#products_search").submit();
     }
    });
  $(".modal-open").on('click',function() {
    $('.myModal').modal('show')
  });
</script>

<!-- Modal -->
<div class="modal fade myModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Comment box for album</h4>
      </div>
      <div class="modal-body">
        <div id="part">
       
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>