<div id="list">
<div id="flash"></div>
  <%= form_tag(user_albums_path(current_user.id), remote: true, :method => "get", id: "products_search") do %>
    <%= text_field_tag :search, params[:search], id: "text" %>
    <%= submit_tag "Search", :name => nil %>
  <%end%>
<ul id="picturelist1">
  <% @albums.each do |album|  %>
    <li class="image_view">
      <%= album.title %>      
      <% image = albumcoverpage(album) %>
      <%if album.cover_id.present? && image.present? %>
        <%= link_to(image_tag(image.photo_url()), user_album_path(current_user.id, album.id), remote: true ) %>     
      <% else %>
        <%= link_to(image_tag("1.jpeg"), user_album_path(current_user.id, album.id), remote: true ) %>
      <% end %>      
      <%= link_to user_album_path(current_user.id, album.id), remote: true do %>    
        <span class="glyphicon glyphicon-open"></span>
      <% end %>
      <%= link_to edit_user_album_path(current_user.id, album.id), remote: true do%>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
      <%= link_to user_album_path(current_user.id, album.id), remote: true, :method => :delete , data: { confirm: 'Are you sure?' } do%>
        <span class="glyphicon glyphicon-remove"></span>  
      <% end %>
    </li>
  <% end %>
</ul>
  </div>
<script>
  $("#products_search input").on('keyup',function() {
     var s = $(this).val();
     if(s.length>2)
     {
      $("#products_search").submit();
     }
     else{
      $("#products_search").submit();
     }
    });
</script>