<ul id="picturelist">  
  <% @images.each do |image| %>
    <li class="image_view">
    <%= link_to image.get_upvotes.size, like_user_album_image_path(params[:user_id], params[:id], image.id), method: :put %>
      <%= link_to image.get_downvotes.size, dislike_user_album_image_path(params[:user_id], params[:id], image.id), method: :put %>
      <%= image.img_name %>
      <%= image_tag image.photo_url() %> 
      <%= link_to new_image_comment_path(image.id), remote:true do %>  
        <span class="glyphicon glyphicon-comment"></span>
      <% end %>
      <% if current_user.id == @user.id %>
        <%= link_to "Set as Cover photo", coverpage_album_path(@album.id, :image_id => image.id, :user_id => current_user.id), method: :put, remote: true %>
           
        <%= link_to user_album_image_path(current_user.id, @album.id, image.id),:method => :delete ,:remote => true, data: { confirm: 'Are you sure?' } do%>
          <span class="glyphicon glyphicon-remove remove1"></span>  
        <% end %> 
      <% end %>   
      <%= social_share_button_tag() %> 
      <div class="slide_commentbox<%= image.id %>">
      </div>
      <div id="image_comment_show<%= image.id %>">
        <% if @comments.present? %>
          <% @comments.each do |p| %>
            <p ><%= p.comment %>
            <%= link_to "",image_comment_path(image.id, p.id), class: 'glyphicon glyphicon-remove', :method => :delete , data: { confirm: 'Are you sure?' } %>
            <%= social_share_button_tag() %></p>
          <% end %>   ---------------------------------------------
        <% end %>
      </div>       
    </li>  
  <% end %>
</ul>
