<ul id="picturelist">   
    <% @images.each do |image| %>
      <li class="image_view">
        <%= image.img_name %>
        <%= link_to "Set as Cover photo", coverpage_album_path(@album.id, :image_id => image.id), method: :put, remote: true %>
        <%= image_tag image.photo_url() %>   
        <%= link_to user_album_image_path(current_user.id,@album.id,image.id) do %>    
          <span class="glyphicon glyphicon-comment"></span>
        <% end %>
        <%= link_to user_album_image_path(current_user.id, @album.id, image.id),:method => :delete ,:remote => true, data: { confirm: 'Are you sure?' } do%>
          <span class="glyphicon glyphicon-remove remove1"></span>  
        <% end %> 
        <%= social_share_button_tag() %>           
      </li>    
  <% end %>
</ul>