<div class="content">
	<div class="grid1" id="me">
	  <%= image_tag current_user.profile_pic_url(), class: 'pic' %>
	  <% current_user.albums.where(params[:id]) %>  
	  <h3>Hello <b><%= current_user.fname %></b></h3><br>
	  <p>you have created a album <b><%= @album.title %></b></p><br>
	  <p>and your album description is <b><%= @album.description %></b></p>      
	</div> 
  <%= link_to "edit profile", edit_user_registration_path(current_user) %> 
</div>