<%= render 'home/headerup_in' %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Albums", user_albums_path %></li>
  <li class="active">Images</li>       
</ol> 
<div id="content3">
  <%= link_to "Upload image", new_user_album_image_path(current_user.id,@album.id), class: 'conte1', remote: true %>
  <div id="part" style="display:none">  
  </div>   
  <% if @images.present? %>  
    <div id="content1">
      <div id ="container"> 
        <div id="content">
          <%= render 'imageshow' %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container upload">
      <div class="jumbotron">
        <h2>There is no Image in your album..<br>please upload image...</h2>
      </div>
    </div>
  <% end %>
</div>


