<%= render 'home/flash' %> 
<%= render 'home/headerup_in' %>
<div id="content3">
  <%= link_to "edit profile", edit_user_registration_path(current_user), class: 'conte' %> 
  <%= link_to "Upload image", new_album_image_path(params[:id]), class: 'conte1', remote: true %>
  <div id="part" style="display:none">
  
  </div>
  <div id="content1">
    <%= render 'imageshow' %>
  </div>
</div>

