<%= render 'home/headerup_in' %>
<div class="container">
  <div class="alert">
    <h2>Here you can Upload multiple images....</h2>
    <input type="file" id="browes">
  </div>
  <div class="images">
    <ul id="picturelist">
      <li class="image_view"><%= link_to image_tag "1.jpeg", class: 'fancybox' %>Album1</li>
      <li class="image_view"><%= link_to image_tag "2.jpeg" %>Album2</li>
      <li class="image_view"><%= link_to image_tag "3.jpeg" %>Album3</li>
      <li class="image_view"><%= link_to image_tag "4.jpeg" %>Album4</li>
      <li class="image_view"><%= link_to image_tag "5.jpeg" %>Album5</li>
      <li class="image_view"><%= link_to image_tag "6.jpeg" %>Album6</li>
      <li class="image_view"><%= link_to image_tag "7.jpeg" %>Album7</li>
      <li class="image_view"><%= link_to image_tag "8.jpeg" %>Album8</li>
    </ul>
  </div>
</div>