<%= render 'home/headerup_in' %>
<%= render 'home/flash' %>
<div id ="container"> 
  <div id="content">
    <ul id="picturelist">         
        <% @image = Image.where(:album_id => params[:album_id]).each do |p| %>
          <li class="image_view">
            <%= p.img_name %>           
            <%= image_tag p.photo_url() %>   
            <%= link_to new_album_image_path(:album_id) do %>    
              <span class="glyphicon glyphicon-open"></span>
            <% end %>
            <%= link_to image_path(p.id),:method => :delete , data: { confirm: 'Are you sure?' } do%>
              <span class="glyphicon glyphicon-remove"></span>  
            <% end %>            
          </li>
      <% end %>
    </ul>
  </div>
</div>