
<div class="field form-group">
  <%= f.label :firstname, class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :fname, class: 'form-control e1', required: true, autofocus: true %>
  </div>
</div>
<div class="field form-group">
  <%= f.label :lastname, class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :lname, class: 'form-control e1', required: true, autofocus: true %>
  </div>
</div>
<div class="field form-group">
  <%= f.label :contact, class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :contact, class: 'form-control e1', required: true, autofocus: true %>
  </div>
</div>
<div class="field form-group">
  <%= f.label :email, class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.email_field :email, class: 'form-control e1', required: true, autofocus: true %>
  </div>
</div>
<div class="field form-group">
  <%= f.label :password, class: 'col-sm-2 control-label' %>
   <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  <div class="col-sm-4">
    <%= f.password_field :password, class: 'form-control e1', required: true, autofocus: true %>
  </div>
</div>
<div class="field form-group">
  <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.password_field :password_confirmation, class: 'form-control e1', required:true, autofocus: true %>
  </div>
</div>
<div class="actions form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "save", class: 'btn log sub btn-default' %>
  </div>
</div>